numpy
pandas
scikit-learn
matplotlib
torch
transformers
openai 
requests
google-generativeai 
faiss-cpu   
sentence-transformers   
chromadb 
openpyxl
llama-cpp-python 
pymupdf 
pandas 
cryptography    
langchain 
pypdf 
openpyxl
flask 
flask-swagger-ui